*{
    margin: 0%;
    padding: 0%;
    
}

#root{
    display: flex;
    flex-direction: column;
}

#nav__Style{
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    position: sticky;
    top: 0%;
}

#nav__Style h1{
    color: white;
    text-align: center;
}

#nav__Style ul{
    min-height: 40px;
    display: flex;    
    justify-content: space-evenly;
    align-items: flex-end;
}


#nav__Style li{
    margin: 0px 10px 0px 10px;
    justify-items: center;
    list-style-type: none;
    color: white;
    opacity: 100%;
}

.card__img{
    height: 300px;
    
}